<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"  /> 
       <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
 <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
     <div class="container-fluid">
     <a class="navbar-brand" href="/">Restaurant Aya</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link ml-auto" href="/">Home</a>
        </li>

      </ul>
     </div>
     </div>
     </nav>
    </header>

     <div class="container">
     {% block body %}{% endblock %}
     </div>

 </body>
</html>
